.idea/
__pycache__/
*.pyc
*.db
*.bak
*.ini
*.conf
*.sql
*.wav
*.log
*.out
.project
.coverage

!WaveOperate/Ring01.wav
!WaveOperate/RecordExample.wav
!WaveOperate/RecordFilteredExample.wav
!BaiduSpeech/BaiduOAuthSample.ini

