*.wav
.idea/
*.pyc
*.db
*.bak
*.ini
*.conf
*.sql
!WaveOperate/Ring01.wav
!WaveOperate/RecordExample.wav
!WaveOperate/RecordFilteredExample.wav
!BaiduOAuthSample.ini
__pycache__/
nohup.out
*.log
.project
.coverage